<div ng-include src="'partials/nav.html'"></div>
<div ng-include src="'partials/header.html'"></div>

<div class="container-fluid">
<h2>PRESENTATION</h2>
<p>Ouverts d'esprit et r&eacute;solument tourn&eacute;s vers l'avenir, notre philosophie est de <b>sauvegarder les valeurs fondamentales de la profession
	d'avocat</b> et de <b>trouver de nouvelles solutions</b> aux probl&egrave;mes de nos clients.</p>
<p>La densit&eacute; et la complexit&eacute; croissante du droit nous ont amen&eacute;s &agrave; choisir la voie de la sp&eacute;cialisation, en ce sens que nous ne travaillons
	que dans certains domaines du droit. C'est ainsi que l'&eacute;tude traite essentiellement des questions qui rel&egrave;vent du droit des assurances
	sociales, du droit des assurances priv&eacute;es et du droit de la responsabilit&eacute; civile. Pour des questions qui ne rel&egrave;vent pas de nos domaines
	de comp&eacute;tences, nous travaillons avec des &eacute;tudes associ&eacute;es sp&eacute;cialis&eacute;es.</p>

<p>Les nouveaux outils informatiques  nous ont conduits &agrave; <b>utiliser internet de mani&egrave;re accrue</b> dans le traitement des affaires qui
	nous sont confi&eacute;es. Ces outils nous permettent de trouver rapidement les informations n&eacute;cessaires et de r&eacute;agir efficacement par
	e-mail aux questions qui nous sont pos&eacute;es. </p>

<p>Nous avons &eacute;galement recherch&eacute; <b>des solutions pour simplifier les relations</b> entre l'avocat et son client, afin de motiver ce
	dernier &agrave; consulter pr&eacute;ventivement. Nombre de personnes ou d'entreprises renoncent en effet &agrave; consulter un avocat
	(par exemple pour r&eacute;diger, revoir ou finaliser un contrat) avant qu'un litige ne survienne, ce qui peut &ecirc;tre la cause de proc&eacute;dures
	longues et on&eacute;reuses qui auraient pu &ecirc;tre &eacute;vit&eacute;es. </p>

<p>Pour les entreprises et les particuliers nous avons d&eacute;velopp&eacute; un syst&egrave;me de <b>conseil global</b> qui nous permet d'intervenir rapidement
	et efficacement dans les principaux domaines qui les int&eacute;ressent, c'est-&agrave;-dire : r&eacute;daction de contrats, gestion de litiges avec leurs
	partenaires contractuels, fournisseurs ou clients, droit du travail, droit des assurances, responsabilit&eacute; civile, recouvrement de cr&eacute;ances.
	Nous avons &eacute;galement mis en place des synergies avec des sp&eacute;cialistes en comptabilit&eacute;, en fiscalit&eacute;, et en propri&eacute;t&eacute; intellectuelle, afin
	de r&eacute;pondre aux pr&eacute;occupations de nos mandants.</p>

<h3>Nos mandants peuvent attendre de nous :</h3>
<ul>
		<li>Comp&eacute;tence</li>
		<li>Ind&eacute;pendance</li>
		<li>Respect du secret professionel</li>
		<li>Rigueur</li>
		<li>Rapidit&eacute;</li>
		<li>Efficacit&eacute;</li>
		<li>Humanisme.</li>
</ul>

</div>
