<div ng-include src="'partials/nav.html'"></div>
<div ng-include src="'partials/header.html'"></div>

<div class="container-fluid">
    <h2>BIENVENUE SUR NOUVJUR</h2>
    <h3>Notre but</h3>
    <p>Offrir à nos clients un conseil professionnel, rapide, pratique et de qualité
    ainsi qu'une représentation en justice énergique et efficace.</p>

    <p>Nos avocats disposent d'une vaste expérience dans les domaines du droit des
    assurances sociales et privées, ainsi que de la responsabilité civile. Cette
    compétence professionnelle garantit à nos clients d'être conseillés et défendus
    au mieux de leurs intérêts.</p>

    <p>Nous accordons une importance primordiale aux rapports humains. Nos relations
    avec nos clients sont fondées sur une confiance mutuelle et une implication
    totale de notre part.</p>

    <p>Nos avocats sont actifs dans les cantons de Vaud, Valais, Genève, Neuchâtel,
    Berne et Fribourg. Ils ont leurs locaux à Lausanne et à Sion.</p>
</div>
<div id="footer">
    &copy; Jean-Michel Duc
</div>
