<div ng-include src="'partials/nav.html'"></div>
<div ng-include src="'partials/header.html'"></div>

<section id="but">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Notre but</h2>
            </div>
        </div>
        <p>Offrir à nos clients un conseil professionnel, rapide, pratique et de qualité ainsi qu'une représentation en justice énergique et efficace.</p>

        <p>Nos avocats disposent d'une vaste expérience dans les domaines du droit des assurances sociales et privées, ainsi que de la responsabilité civile. Cette compétence professionnelle garantit à nos clients d'être conseillés et défendus au mieux de
            leurs intérêts.</p>

        <p>Nous accordons une importance primordiale aux rapports humains. Nos relations avec nos clients sont fondées sur une confiance mutuelle et une implication totale de notre part.</p>

        <p>Nos avocats sont actifs dans les cantons de Vaud, Valais, Genève, Neuchâtel, Berne et Fribourg. Ils ont leurs locaux à Lausanne et à Sion.</p>
    </div>
</section>
<section id="presentation">
    <div class="container-fluid">
        <h2 class="section-heading">Presentation</h2>

        <p>Ouverts d'esprit et r&eacute;solument tourn&eacute;s vers l'avenir, notre philosophie est de <b>sauvegarder les valeurs fondamentales de la profession
	d'avocat</b> et de <b>trouver de nouvelles solutions</b> aux probl&egrave;mes de nos clients.</p>
        <p>La densit&eacute; et la complexit&eacute; croissante du droit nous ont amen&eacute;s &agrave; choisir la voie de la sp&eacute;cialisation, en ce sens que nous ne travaillons que dans certains domaines du droit. C'est ainsi que l'&eacute;tude traite
            essentiellement des questions qui rel&egrave;vent du droit des assurances sociales, du droit des assurances priv&eacute;es et du droit de la responsabilit&eacute; civile. Pour des questions qui ne rel&egrave;vent pas de nos domaines de comp&eacute;tences,
            nous travaillons avec des &eacute;tudes associ&eacute;es sp&eacute;cialis&eacute;es.</p>

        <p>Les nouveaux outils informatiques nous ont conduits &agrave; <b>utiliser internet de mani&egrave;re accrue</b> dans le traitement des affaires qui nous sont confi&eacute;es. Ces outils nous permettent de trouver rapidement les informations n&eacute;cessaires
            et de r&eacute;agir efficacement par e-mail aux questions qui nous sont pos&eacute;es. </p>

        <p>Nous avons &eacute;galement recherch&eacute; <b>des solutions pour simplifier les relations</b> entre l'avocat et son client, afin de motiver ce dernier &agrave; consulter pr&eacute;ventivement. Nombre de personnes ou d'entreprises renoncent en
            effet &agrave; consulter un avocat (par exemple pour r&eacute;diger, revoir ou finaliser un contrat) avant qu'un litige ne survienne, ce qui peut &ecirc;tre la cause de proc&eacute;dures longues et on&eacute;reuses qui auraient pu &ecirc;tre
            &eacute;vit&eacute;es.
        </p>

        <p>Pour les entreprises et les particuliers nous avons d&eacute;velopp&eacute; un syst&egrave;me de <b>conseil global</b> qui nous permet d'intervenir rapidement et efficacement dans les principaux domaines qui les int&eacute;ressent, c'est-&agrave;-dire
            : r&eacute;daction de contrats, gestion de litiges avec leurs partenaires contractuels, fournisseurs ou clients, droit du travail, droit des assurances, responsabilit&eacute; civile, recouvrement de cr&eacute;ances. Nous avons &eacute;galement
            mis en place des synergies avec des sp&eacute;cialistes en comptabilit&eacute;, en fiscalit&eacute;, et en propri&eacute;t&eacute; intellectuelle, afin de r&eacute;pondre aux pr&eacute;occupations de nos mandants.</p>

        <h3>Nos mandants peuvent attendre de nous :</h3>
        <ul>
            <li>Comp&eacute;tence</li>
            <li>Ind&eacute;pendance</li>
            <li>Respect du secret professionel</li>
            <li>Rigueur</li>
            <li>Rapidit&eacute;</li>
            <li>Efficacit&eacute;</li>
            <li>Humanisme.</li>
        </ul>

    </div>
</section>
<section id="contact">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contact<h2>
            </div>
            <div class="col-md-6">
    <h3>Etude de Lausanne</h3>
    <p class="indent">
        Rue Etraz 12
        <br/> 1003 Lausanne
        <br/> Tél. : +41 21 331 40 10
        <br> Fax : +41 21 331 40 19
        <br />
        <a href="mailto:info@nouvjur.ch">E-mail</a>
    </p>

    <iframe style="height:400px; width:100%; border: 1px solid black;" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=fr&amp;geocode=&amp;q=Rue+Etraz+12,+Lausanne,+Suisse&amp;sll=37.0625,-95.677068&amp;sspn=48.287373,79.013672&amp;ie=UTF8&amp;hq=&amp;hnear=Rue+Etraz+12,+1003+Lausanne,+Vaud,+Suisse&amp;ll=46.51916,6.638831&amp;spn=0.010321,0.01929&amp;z=14&amp;output=embed">
    </iframe>

    <p style="text-align:center;">
        <a target="_blank" href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=fr&amp;geocode=&amp;q=Rue+Etraz+12,+Lausanne,+Suisse&amp;sll=37.0625,-95.677068&amp;sspn=48.287373,79.013672&amp;ie=UTF8&amp;hq=&amp;hnear=Rue+Etraz+12,+1003+Lausanne,+Vaud,+Suisse&amp;ll=46.51916,6.638831&amp;spn=0.010321,0.01929&amp;z=14">
	Agrandir le plan</a> ~ <a href="img/plan-lausanne.png" target="_blank">La carte ne s'affiche pas ?</a>
    </p>

    <p></p>
  </div>
  <div class="col-md-6">
    <h3>Etude de Sion</h3>
    <p class="indent">
        Rue des Erables 6
        <br/> 1950 Sion
        <br/> Tél. : +41 27 322 87 77
        <br/> Fax : +41 27 322 87 78
        <br/>
        <a href="mailto:info@nouvjur.ch">E-mail</a>
    </p>

    <iframe style="height:400px; width:100%; border: 1px solid black;" src="http://maps.google.com/maps/ms?f=q&amp;hl=en&amp;geocode=&amp;ie=UTF8&amp;msa=0&amp;msid=100338812679187571281.0004386c73835cd190b65&amp;ll=46.230177,7.353306&amp;spn=0.010539,0.020084&amp;om=1&amp;output=embed&amp;s=AARTsJp9e2-SzaZ_EPHfHTIo7JKXEX-eqA">
    </iframe>

    <p style="text-align:center;">
        <a target="_blank" href="http://maps.google.com/maps/ms?f=q&amp;hl=en&amp;geocode=&amp;ie=UTF8&amp;msa=0&amp;msid=100338812679187571281.0004386c73835cd190b65&amp;ll=46.230177,7.353306&amp;spn=0.010539,0.020084&amp;om=1&amp;source=embed">
		Agrandir le plan</a> ~ <a href="img/plan-sion.png" target="_blank">La carte ne s'affiche pas ?</a>
    </p>

    <p>L'Etude se situe près de la Matze. Des places de parc (zone bleue) se trouvent à proximité immédiate. Le parking public le plus proche est celui de Migros Métropole. L'Etude est à 5 mn. à pied de la gare CFF.
    </p>
  </div>
  </div>
</div>
</section>
