<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf8">
    <base href="/">

    <title>Nouvjur</title>

    <link rel="stylesheet" type="text/css" href="scripts/lib/angular-toastr/dist/angular-toastr.css" />

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="scripts/lib/bootstrap/dist/css/bootstrap.css">

    <!-- Custom CSS -->
    <link href="css/agency.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

</head>
<body>

    <div id="app-container" ng-view></div>

    <!-- <script data-main="scripts/webapp.min.js" src="scripts/lib/requirejs/require.js"></script> -->

    <script data-main="scripts/src/main.js" src="scripts/lib/requirejs/require.js"></script>

</body>
</html>
